$slate-1: hsl(240, 5%, 9.8%);
$slate-2: hsl(240, 6.9%, 11.4%);
$slate-3: hsl(227, 6.7%, 16.4%);
$slate-4: hsl(222, 6.6%, 19.4%);
$slate-5: hsl(218, 6.5%, 22.1%);
$slate-6: hsl(214, 6.4%, 25.1%);
$slate-7: hsl(209, 6.2%, 29.4%);
$slate-8: hsl(202, 5.8%, 37.5%);
$slate-9: hsl(220, 6%, 44%);
$slate-10: hsl(218, 5.3%, 51.5%);
$slate-11: hsl(220, 7%, 70%);
$slate-12: hsl(220, 7%, 93.5%);

$iris-1: hsl(240, 22%, 10.5%);
$iris-2: hsl(243, 30.4%, 13.5%);
$iris-3: hsl(242, 32.6%, 18.9%);
$iris-4: hsl(241, 33.5%, 22.6%);
$iris-5: hsl(241, 34.2%, 26.1%);
$iris-6: hsl(240, 35%, 31%);
$iris-7: hsl(240, 36%, 39.4%);
$iris-8: hsl(240, 45.2%, 54.9%);
$iris-9: hsl(240, 60%, 59.8%);
$iris-10: hsl(241, 66.4%, 65.7%);
$iris-11: hsl(242, 100%, 81%);
$iris-12: hsl(242, 92%, 93.5%);

$spring-green: hsl(145, 100%, 61%);

:root {
    --slate-1: #{$slate-1};
    --slate-2: #{$slate-2};
    --slate-3: #{$slate-3};
    --slate-4: #{$slate-4};
    --slate-5: #{$slate-5};
    --slate-6: #{$slate-6};
    --slate-7: #{$slate-7};
    --slate-8: #{$slate-8};
    --slate-9: #{$slate-9};
    --slate-10: #{$slate-10};
    --slate-11: #{$slate-11};
    --slate-12: #{$slate-12};
    --iris-1: #{$iris-1};
    --iris-2: #{$iris-2};
    --iris-3: #{$iris-3};
    --iris-4: #{$iris-4};
    --iris-5: #{$iris-5};
    --iris-6: #{$iris-6};
    --iris-7: #{$iris-7};
    --iris-8: #{$iris-8};
    --iris-9: #{$iris-9};
    --iris-10: #{$iris-10};
    --iris-11: #{$iris-11};
    --iris-12: #{$iris-12};
    --spring-green: #{$spring-green};
    --white: #fff;
    --black: #000;
}
