@mixin focusable($color: var(--iris-6), $radii: 1rem) {
  position: relative;
  &:focus-visible {
    &::before {
      content: '';
      position: absolute;
      inset: -0.25rem;
      border-radius: #{$radii};
      border: 2px solid #{$color};
    }
  }
}
