@mixin focusable($color: var(--iris-6), $radii: 1rem) {
  position: relative;
  &:focus-visible {
    &::before {
      content: '';
      position: absolute;
      inset: -0.25rem;
      border-radius: #{$radii};
      border: 2px solid #{$color};
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}